[2016-07-06 17:27] PHLAK opened #1 "Use Releases for distributing app packages (.deb/.tar.gz)"
I'd like to suggest [tagging versions](https://help.github.com/articles/working-with-tags/) and utilizing the [Releases](https://help.github.com/articles/creating-releases/) feature for distributing your compiled packages (.deb and .tar.gz files).  It's not recommended to put packages in the source code.

[2016-07-06 17:30] PHLAK opened #2 "Temperature in Fahrenheit"
Allow me to view the temperature in fahrenheit (perhaps with a flag --fahrenheit ?).

[2016-07-06 18:44] psukys opened #3 "Manual location"
It would be nice to be able to set the location manually, as the automatic one is pretty off.

[2016-07-10 14:58] kasramp commented on #3
@psukys, ok sure. However, on API side I've applied some enhancements to increase the accuracy of the automatic location detection. I'll be glad if you share your experience after changes in the API. so I can fix it further if still has severe problem.

[2016-07-10 15:01] kasramp commented on #1
@PHLAK great idea I'll use it :+1:

[2016-07-10 15:01] kasramp commented on #2
@PHLAK ok sure, will apply some changes soon.

[2016-07-10 15:14] psukys commented on #3
Alright, I'll try the enhancements whenever I'll be at the place with network that showed me the "pretty off" location.

[2016-07-11 01:31] kasramp commented on #3
@psukys thanks for your help.

[2016-07-11 05:53] psukys commented on #3
Here is an example from my home network, where I am in Munich (blue dot, deduced by google services) and kassel is the red pin, deduced by your program. The distance is around 380 kilometres.
![selection_193](https://cloud.githubusercontent.com/assets/1302529/16720993/2a082e5c-473c-11e6-9da3-38ef1d82a1e9.png)

[2016-07-12 01:44] kasramp commented on #3
@psukys thanks for the picture. I'll be investigating the problem and try to fix the accuracy problem. Definitely the location is pretty off.

[2016-07-13 00:11] ShinzJr commented on #3
I think it's because the location API uses IP address, which is sometimes not accurate.

[2016-07-14 14:34] #1 closed

[2016-07-30 04:08] kasramp commented on #3
Addressed the issue in the release v0.5.

[2016-07-30 04:08] #3 closed

[2016-07-30 04:09] kasramp commented on #2
Addressed the issue in the release v0.5.

[2016-07-30 04:09] #2 closed

[2016-07-31 21:15] PHLAK opened #4 "Option to toggle location"
It would be nice to have an option to toggle whether or not the location is shown.  I know where I am and sometimes the location name takes up a lot of space.

[2016-08-01 12:16] mabkenar opened #5 "Use integer values for temperatures"
I don't think people really care about sub-integer temperatures. I mean, 17°C and 17.4°C is essentially the same temperature to me. Moreover, reporting temperature of long time periods with 0.1°C accuracy is not scientifically meaningful since the temperature will surely fluctuate during this time and through the region.

Rounding all temperatures to integer values instead removes some clutter fro

[2016-08-02 09:37] khurshid-alam opened #6 "Option to hide location name on the panel"
For some locations , the name could be very long, thus occupying a vast horizontal space on the panel.

It would be nice if we can **hide/toggle** location name on the panel from the preference.

![indicator-weather](http://i.imgur.com/DRnYGEL.png)

[2016-08-16 04:19] khurshid-alam commented on #6
@kasramp Anything on this?

[2016-08-19 15:24] kasramp commented on #6
@khurshid-alam addressed the issue in v0.6

[2016-08-19 15:24] #6 closed

[2016-08-19 15:26] kasramp commented on #5
@mabkenar I have added a new toggle in preference to round temperature. It's available in v0.6

[2016-08-19 15:26] #5 closed

[2016-08-19 15:27] kasramp commented on #4
@PHLAK addressed the issue in v0.6

[2016-08-19 15:27] #4 closed

[2016-08-19 15:33] khurshid-alam commented on #6
Wow! Thanks.

[2016-08-22 15:13] khurshid-alam opened #9 "Create a PPA for easy installation and update"
PPA for easy installation and update.

Thanks

[2016-08-22 15:55] d0od88 opened #10 "Pluralise "Preference" Menu Option"
Line 75 of Indicator-Weather.py:

`self.preference_item = Gtk.MenuItem("Preference")`

should read

`self.preference_item = Gtk.MenuItem("Preferences")`

as there is more than one 'preference'.

[2016-08-22 18:09] OSryx commented on #10
but you can fix this an made pull request, don't you ? :+1:

[2016-08-23 12:39] kasramp opened #11 "Add autostart option"
Currently autostart is on the system level, need to be moved to user level and add an option to enable or disable it.

[2016-08-23 12:42] kasramp opened #12 "Add menu item in dash"
At the moment Ubuntu users need to logout and login to indicator appears. Need to add the indicator item to dash, so user can launch the indicator directly without logout and login.

[2016-08-23 12:44] kasramp commented on #10
Fixed it.

[2016-08-23 12:44] #10 closed

[2016-08-25 16:04] mabkenar opened #13 "Preferences window not showing up in Ubuntu 14.04"
The indicator runs successfully and shows a temperature. However, when I click on the 'Preference'(s) menu item in the indicator, no window is opened and I see this error in the terminal:

`Traceback (most recent call last):
  File "/usr/bin/indicator-weather", line 94, in preference
    preference_dialog = Dialog()
  File "/usr/lib/ubuntu-indicator-weather/preference.py", line 23, in __init__

[2016-08-25 21:33] Kycko commented on #13
**mabkenar**, I think you only need to change line 4 in /usr/share/ubuntu-indicator-weather/ui.glade to:
`<requires lib="gtk+" version="3.10"/>`
please check if all will be OK, and if so, we will apply this change.

On my 16.04 all is looking good after that

[2016-08-25 23:50] kasramp commented on #13
@mabkenar I think it's possible to make it to support older version using @Kycko  solution. Let us know the outcome.

[2016-09-03 23:05] hackel opened #14 "Location gets displayed as number"
I've just installed indicator-weather 0.6 and it is displaying my location as "3343."  I'm actually in Minneapolis, USA, and I believe it is detecting my location correctly.  ip-api.com is accurate, and the temperature matches what it shows on openweathermap.org.  I entered in my lat/lng manually, and the number changed to 2683.  I'm not sure what this corresponds to.  On openweathermap.org, my ci

[2016-09-04 01:48] kasramp commented on #14
A similar bug addressed recently (below link), but it's not in the stable release yet. Planned for v0.7. However, if you don't mind can you share the lat and lon that shows number so I can do some testing?
https://github.com/kasramp/UbuntuIndicatorWeather/commit/ea2c3f1cf8b98a7b47e7ecc1de7047b819045290

[2016-09-07 21:22] Kycko commented on #9
**kasramp**, I can upload a package into my PPA if you want, or give you some links about creating your own PPA ^_^

[2016-09-08 08:47] kasramp commented on #9
@Kycko I would be awesome if you can provide some links on creating PPA. Thanks :-)

[2016-09-08 11:30] Kycko commented on #9
The main document is a [launcpad help pages] (https://help.launchpad.net/Packaging/PPA?action=show&redirect=PPA). You will need to follow many links to finally get things done :)
I haven't find another good **english** guides, only **ru** one.

And if you want to know how **correctly build .deb package with following to all Debian standarts**, there is a great [Debian New Maintainers' Guide] (http

[2016-09-08 11:44] OSryx opened #15 "Build. Deb package"
Following an issue about ppa, i can make a. Deb package for 0.7 UIW

[2016-09-08 11:45] OSryx commented on #9
I can take care of the deb package. I launched an issue for that please assign it to me

[2016-09-08 11:47] Kycko commented on #15
@OSryx seems like @kasramp can make it too, because we see .debs in [Releases] (https://github.com/kasramp/UbuntuIndicatorWeather/releases)

[2016-09-08 11:49] OSryx commented on #15
Hhh okey any way if you want i can contribute that @kycko

[2016-09-09 00:51] kasramp commented on #9
Thanks a lot @Kycko.
In regards of deb package @OSryx, at the moment we have it (in releases) but not sure how standard it's. Need to go though the guideline and apply any adjustment if necessary.

[2016-09-09 11:00] Kycko commented on #9
I'll make some commits in debian/ folder, especially changelog must be splitted into two parts: *program changelog* must be placed in /, and *package changelog* must be in debian/, but it must contain only changes for package, not for program

[2016-09-09 18:20] hackel commented on #14
When I turn on auto location, it just shows 0,0 for lat/lon.  If I insert the lat/lng for Minneapolis, USA (44.9706756,-93.3315183), it displays "4043" as the location.

[2016-09-09 18:33] hackel commented on #14
I just built the latest code from master, and now the location (using the lat/lon listed above) is displayed as "Wayzata Boulevard".  That is the name of a road, so it seems like a somewhat odd choice.

If I turn on auto-location, it displays the name of the street my flat is on, even though I'm at work now.  Where is it getting this data?  At least I know it's detecting a fairly close location!

[2016-09-12 05:26] kasramp commented on #14
There are two webservices are utilized, one is for getting the lat/lon based on your IP address which is `Ip-api.com`. Another one is a customized in-house webservice which is develop on top of two other webservices `http://api.openweathermap.org/` and `http://www.openstreetmap.org` to detect weather temperature and reverse geocoding. At the moment the bottle neck is in `ip-api.com` that sometimes

[2016-09-14 18:59] kasramp commented on #13
@mabkenar I've applied a small change to make it backward compatible. However, note that state buttons do not function as it is suppose to. This is obvious in the case of `Automatic location detection` that when it gets enabled it supposes to enable `latitude` and `longitude` and vice versa. But it's not working. The current workaround is to click ok button and open the preferences menu again to s

[2016-09-14 18:59] #13 closed

[2016-09-14 19:03] kasramp commented on #14
By the way keep note that if your location is changed it takes maximum 15 minutes to detect the new location. The reason is that the interval for calling the services is every 15 minutes to avoid exhausting webservices as well as shorten battery life.

[2016-09-14 19:03] #14 closed

[2016-09-15 03:02] hackel commented on #14
Thanks, keep up the good work!

[2016-09-17 07:05] #11 closed

[2016-09-17 07:06] #12 closed

[2016-09-17 07:09] kasramp commented on #15
Thanks @Kycko for your contribution on Debian package standardization. Issue resolved.

[2016-09-17 07:09] #15 closed

[2016-09-17 18:33] kasramp commented on #9
@Kycko  when I try to build the package in Launchpad I get this error:
`dpkg-buildpackage: source package indicator-weather
dpkg-buildpackage: source version 0.7ubuntu
dpkg-buildpackage: source distribution trusty
 dpkg-source --before-build indicator-weather-0.7ubuntu
dpkg-buildpackage: host architecture i386
 fakeroot debian/rules clean
dh clean --with python2
dh: unable to load addon python2: C

[2016-09-19 11:38] Kycko commented on #9
@kasramp, what do you mean in **build the package in Launchpad**?
You must build it on your local machine, and then just send **source.changes** to Launchpad. Note that you **must** have a GPG-signature associated with your Launcpad-account, and you must build a package with `debuild` command, without `-us -uc` options. These options are creating a package without your signature, so don't use them

[2016-09-19 14:00] khurshid-alam commented on #9
@kasramp @Kycko Actually launchpad can compile source on the fly through launchpad recipes. Of course it is recommended to compile locally first so that it won't abuse launchpad build system. The initial setup is lengthy, but once done, it will compile whenever it detects any changes. The workflow is something like this:

1. Create a project under launchpad (Ubuntu-Indicator-Weather) if it hasn't

[2016-09-19 15:42] khurshid-alam commented on #9
Nah, it won't work as you already used gpg signature on commit messages (15293c9b0b924129bbdb42b50ce0a08c7e3803fb) . Launchpad import doesn't allow that. If you remove that from commit and then re-apply (basically rewriting git history), then only it can work.

As of now, manually uploading source.changes is the only way as @Kycko mentioned.

[2016-09-19 16:17] Kycko commented on #9
@khurshid-alam only Kasramp can write to this repo, so please try to use [my one] (https://github.com/Kycko/UbuntuIndicatorWeather). It doesn't contain latest commits, but I've re-committed debian directory without signature

[2016-09-19 19:52] kasramp commented on #9
@Kycko @khurshid-alam thanks for all your help, the problem was due to the missing dependencies in `control` file. Signature and everything else has setup and finally managed to create PPA and build successfully. I've updated Readme file and put the PPA link with description.

[2016-09-19 19:52] #9 closed

[2016-09-20 11:50] Kycko commented on #9
@kasramp excellent! Now we must not remember to manually update this app every time it is updated ^_^

[2016-09-21 09:48] Kycko commented on #9
[Only one day after PPA creating] (http://www.omgubuntu.co.uk/2016/09/simple-weather-indicator-ppa-app-icon?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+d0od+%28OMG%21+Ubuntu%21%29)

[2016-09-22 07:41] kasramp commented on #9
Thank you so much for all your efforts @Kycko,  without your help creating PPA wouldn't be possible.

[2016-09-24 17:47] khurshid-alam opened #17 "Crazy Weather Report"
It seems sometimes weather-indicator simply goes mad. Even if it's pulling weather for wrong location, it shouldn't show something like this:

![crazy-weather](http://i.imgur.com/Tbsd6JA.png)

At 80C human skin will start melting. What next? 2344 C ?

[2016-09-26 07:16] kasramp commented on #17
@khurshid-alam thanks for reporting the issue. That's the known issue and it's due to one of the webservices. I'm investigating the problem to resolve it.

[2016-10-04 06:40] derPuntigamer opened #18 "PPA install on 16.04 misses 'gi' dependency"
The application won't start due to the following error:

`Traceback (most recent call last):
  File "/usr/bin/indicator-weather", line 23, in <module>
    import gi
ImportError: No module named gi`

Installing the 'python-gi' solves the problem.

[2016-10-04 06:43] derPuntigamer commented on #18
Oh, I see the dependency is already in the DEB control file, please update the PPA.

[2016-10-04 12:40] kasramp commented on #18
@derPuntigamer thanks for reporting the issue. The missing dependency's already added. I will update PPA soon.

[2016-10-20 15:53] lodgnewt opened #19 "ubuntu 16.10 applet don't start"
please fix your great indicator. thanks.
indicator don't start on fresh install ubuntu 16.10

[2016-10-23 14:42] kasramp commented on #19
To understand the problem clearly, run `indicator-weather` in your command line and copy/paste the output here, so I can know what's the exact problem you are facing. Thanks

[2016-11-02 22:46] andyturn commented on #19
I am having an issue where the indicator will not start on ubuntu 16.10 as well.  Below is the output you requested.

/usr/bin/indicator-weather:28: PyGIWarning: AppIndicator3 was imported without specifying a version first. Use gi.require_version('AppIndicator3', '0.1') before import to ensure that the right version gets loaded.
  from gi.repository import AppIndicator3 as appIndicator
Traceback

[2016-11-17 14:34] kasramp opened #20 "Wrong cloudy icon on numix-circle icon set"
Instead of cloud icon, it shows Ubuntu 1 icon, below picture.
https://uploads.disquscdn.com/images/15448ea8238a1f87d33b64d40e94eddb99d011d1e175aa801ba7093b2f31f638.jpg

[2016-11-17 15:14] kasramp commented on #19
Thanks @andyturn for the log, I will checking the issue

[2016-11-17 16:10] kasramp commented on #18
Resolved

[2016-11-17 16:10] #18 closed

[2016-11-19 03:58] kasramp commented on #20
Fixed in 0.8.1

[2016-11-19 03:58] #20 closed

[2016-11-19 03:58] kasramp commented on #19
Fixed in 0.8.1

[2016-11-19 03:58] #19 closed

[2016-11-19 21:41] andyturn commented on #19
i have reinstalled and this is the error i am receiving now when trying to run.

indicator-weather
/usr/bin/indicator-weather:28: PyGIWarning: AppIndicator3 was imported without specifying a version first. Use gi.require_version('AppIndicator3', '0.1') before import to ensure that the right version gets loaded.
  from gi.repository import AppIndicator3 as appIndicator
Traceback (most recent call l

[2016-11-19 23:51] kasramp commented on #19
Well that's very odd. @andyturn what version of Python are you using?
What you can do for now is to edit `/usr/lib/ubuntu-indicato-weather/configuration.py` file and add this line on top of the file `import errno`, so at least we can get more details about the error.
I think there would be still an error because from my understanding the startup file cannot be created on your machine, that's why a

[2016-11-23 13:06] n8willis opened #21 "Can't alter any preferences on Ubuntu 16.04(PPA)"
Attempting to set any of the preferences in 0.8.1 on Ubuntu 16.04 (via the ppa) fails.

Clicking the "OK" button triggers this error/warning:
`Traceback (most recent call last):
  File "/usr/lib/ubuntu-indicator-weather/preference.py", line 65, in on_ok_button_clicked
    self.configuration.set_auto_start(str(switch_autostart.get_active()).title())
  File "/usr/lib/ubuntu-indicator-weather/configu

[2016-11-23 13:46] kasramp commented on #21
@n8willis thanks for reporting the bug, I will look into it.

[2016-11-26 12:15] ricsipontaz opened #22 "It doesn't start on Ubuntu 16.10"
It doesn't start on a freshly installed Ubuntu 16.10
Error Message:

`/usr/bin/indicator-weather:28: PyGIWarning: AppIndicator3 was imported without specifying a version first. Use gi.require_version('AppIndicator3', '0.1') before import to ensure that the right version gets loaded.
  from gi.repository import AppIndicator3 as appIndicator
Traceback (most recent call last):
  File "/usr/bin/indica

[2016-12-02 13:23] kasramp commented on #22
Fixed in v0.8.2

[2016-12-02 13:23] #22 closed

[2016-12-02 13:24] kasramp commented on #21
Fixed in v0.8.2

[2016-12-02 13:24] #21 closed

[2016-12-02 15:00] ricsipontaz commented on #22
Thanks, it is working now :) :+1:

[2016-12-25 21:42] adamboche opened #23 "Frequently changes location"
I put in the lat/long coordinates manually. Several times per day, it changes from showing the location I entered to showing various distant locations around the world, often in other languages.

I do Preferences > OK, and that fixes it for the moment. But I'd rather not have to do this regularly. Not sure which version I have, but I believe it's the latest in the PPA.

Ubuntu 16.10.

[2016-12-26 02:56] kasramp commented on #23
Thanks for reporting the issue. I believe this issue is related to a bug in our web service and currently working on it to resolve it. I will keep you updated on any changes.

[2017-01-13 02:17] tjw0lf opened #24 "having issue with location"
I put my lat and long in but its coming up with weird name not Buffalo NY. How do i fix

[2017-01-15 17:50] briari commented on #24
I am having the same issue and the location changes intermittently to a different strange location - not Atlanta, GA.

[2017-01-16 15:32] kasramp commented on #24
If the location sometimes shows wrong (random occasion and not all the time), then that's a known API problem and I am trying to fix it, though the weather report is accurate, just location shows wrong due to race condition. But if all the times the location is displaying something weird even if you set your lat and lon properly, I highly suspect that's coming from Open Weather Map since it transl

[2017-01-25 16:23] khurshid-alam opened #25 "Indicator-Weather binary collides with old Ubuntu Werather Indicator project"
The project https://launchpad.net/weather-indicator uses same name for binary file; i.e `indicator-wrather`. As a result installing one overwrites (`/usr/bin/indicator-weather`) the other.  May be we could rename it to `uindicator-weather` ?

[2017-01-25 16:40] khurshid-alam opened #26 "Show more weather info on indicator-dropdown"
The old Ubuntu weather indicator(also written in python https://launchpad.net/weather-indicator) has very nice weather information displayed on indicator dropdown. It shows following information:

1. Humidity
2. Wind condition
3. Sunrise/Sunset etc

![weather-indicator-dropdown](http://i.imgur.com/BADDjGO.png)

The memory footprint is also very low; **~ 10-15MB**.

It uses **earthtools.org** (http

[2017-01-27 14:17] kasramp commented on #25
Thank you so much @khurshid-alam for reporting it. I was totally unaware of it, will fix it soon. Thanks

[2017-01-27 14:27] kasramp commented on #26
@khurshid-alam  that's a great suggestion, I was also considering to do that. Even longtime back I have implemented some of those metrics at the api level, such as humanity, feelslike. Look at the sample api call here,
http://weather-api.madadipouya.com/current?lat=3.1390&lon=101.6869&fahrenheit=false
But the current priority is first to get rid of some of the bugs.
For instance, you have reported

[2017-01-27 14:52] khurshid-alam commented on #26
Nice to know that you are considering those metrics. Thanks.

For lat/long you could use freefeoip (https://freegeoip.net/) but all these services have limit.I would recommend to force user(or at least make it optional) to use his own api-key/token. That way the limit never exhausts. User only need to sign-up and get the api key. User can add it through preference or during set-up.

[2017-01-30 01:55] kasramp commented on #23
@adamboche I have fixed the issue on the API level and it is already deployed. It is expected to fix the problem and you don't even need to update your indicator app because changes are from backend. Please observe and do let me know whether the problem still persisting or not.
For now I close the issue, feel free to reopen it.

[2017-01-30 01:55] #23 closed

[2017-01-30 01:58] kasramp commented on #24
Hi @tjw0lf @briari, I have fixed the API problem and it's already deployed. It is expected to fix the problem of constantly changing the location. You don't need to update your app, as the changes are done on the backend. Please observe and do let me know the issue is resolved or it's still persisting.
For now I close the issue feel free to reopen it.

[2017-01-30 01:58] #24 closed

[2017-01-30 02:01] kasramp commented on #17
Hi @khurshid-alam. A new API deployed with some major fixes, please observe to see the problem is still occurring or not. No app update required, as the changes done on the backend, API level.
For now I close the issue, feel free to reopen it.

[2017-01-30 02:09] kasramp commented on #26
@khurshid-alam I think very soon I can add those new metrics to the app.
Last few days, I was constantly working on creating a new API and finally successfully deployed it. So now all the indicator calls go to the new API. It is brand new, more robust and totally open source. It has way more metrics than previous one and has its own documentation page. So everyone can use it.
You can see all the n

[2017-01-30 02:28] kasramp opened #27 "A new API call to automatically get lat, lon for countries that ip-api is blocked"
In some countries, ip-api.com is totally blocked and hence the indicator does not working at all. With the new API availability it is possible to automatically retrieve user's lat, lon and the weather condition by calling `/currentbyip` only.
Need to integrate a new API call to cater that limitation.

[2017-01-30 03:05] #27 closed

[2017-02-01 07:28] #26 closed

[2017-02-01 08:59] khurshid-alam commented on #25
I was hoping to get it fixed in 0.9. Hopefully soon. You just need to rename the binary.

[2017-02-01 09:04] khurshid-alam commented on #26
Awesome. Just installed 0.9. Everything works flawlessly now.

[2017-02-07 05:38] khurshid-alam opened #28 "Python-warnings polluting system logs"
Can you please fix these warnings?

`/usr/bin/indicator-weather:28: PyGIWarning: AppIndicator3 was imported without specifying a version first. Use gi.require_version('AppIndicator3', '0.1') before import to ensure that the right version gets loaded.`

It's annoying and polluting my syslog.

[2017-02-12 10:43] khurshid-alam commented on #17
@kasramp

With new API,
The margin is still not that big but it has still has 3-5 degree difference. I tried both automatic location and custom locations.
![Imgur](http://i.imgur.com/vTGwMk0.png)

I would also like to choose between "actual temp" and "feel-like" in the applet.

[2017-02-14 04:11] pywill commented on #28
@khurshid-alam Do you have some capture of that issue in a picture? , maybe i could look it and make something to help you but i need to know what i am doing

[2017-02-15 14:02] khurshid-alam commented on #17
@kasramp Can you please reopen the issue. Bcz I can't.

[2017-02-15 15:26] pywill commented on #28
@khurshid-alam @kasramp
I have added this line to indicator-weather and it worked for me, try it by yourself:
gi.require_version('AppIndicator3', '0.1') in line 28, after gi.require_version('Gtk', '3.0') in line 27
[indicator-weather.txt](https://github.com/kasramp/UbuntuIndicatorWeather/files/777449/indicator-weather.txt)

[2017-02-15 15:36] khurshid-alam commented on #28
Thanks. Yes it works.

[2017-02-15 15:43] pywill commented on #28
@khurshid-alam  Ok, i am glad to help you from Cuba!!!!!! LOL!!!!!!!

[2017-02-15 15:56] pywill commented on #28
@kasramp Hi, it is not my project but i really think that will be good if you add the line mentioned cause i can´t do it by myself. Thanks

[2017-02-16 16:03] kasramp commented on #28
@pywill thanks for helping out for this issue, I have added the code. It's working great.
Thanks @khurshid-alam for reporting it.

[2017-02-16 16:03] #28 closed

[2017-02-16 16:06] kasramp commented on #17
@khurshid-alam - let try to see whether I can find any approach/alternative to improve the accuracy of the weather temperature. Currently, we rely on http://openweathermap.org/ though there are some discrepancies in their report as you have mentioned.

[2017-02-17 14:09] pywill commented on #17
@kasramp Hi i have been looking for something useful and i found a website with global weather information.I'll give you the URL and you could check if it is usefull or not
http://worldweather.wmo.int/es/home.html

[2017-02-17 19:32] khurshid-alam commented on #17
I like http://openweathermap.org/.  It also has a method to report wrong data. But, I think the issue is, for google weather the lat/long value is different by few decibels. Now that I lock geo coordinates from openweathermap website for my city (http://openweathermap.org/city/1272657), I will keep watching.

Lets c if margin of error gets more than 3 degree.

[2017-02-24 05:02] pywill commented on #17
@kasramp @khurshid-alam If our problemis a 3-5degrees of difference,why we don't just assume a margin of error?In physical meditions and calculations,it's usefull to assume an "appreciation",i think we could do it too,after all we are improving continuouslyour project.

[2017-02-24 05:11] khurshid-alam commented on #17
The geo coordinates I get from http://openweathermap.org/ for my location is slightly different than my original location (tested with various gps devices). If lock coordinates to exact values I get from weathermap website (usually upto 2 decimal points), then it works alright. But I guess It's weathermap issue. I already reported wrong weather. Hopefully it will improve soon.

If our margin of er

[2017-02-27 14:52] kasramp commented on #17
@pywill - The problem is that for some locations that degree is quite accurate and some not. This is highly depend on a service provide OpenWeatherMap, as a result calculation of error margin is somehow not very straightforward if I understand your comment correctly. Because for some locations we don't need even to apply error margin since the reported weather temperature is correct.
@pywill @khur

[2017-02-27 14:54] kasramp opened #29 "Add feels-like to the report"
Currently only actual nominal weather temperature is shown. It's good to have feels-like metric as well.

[2017-02-27 14:55] kasramp opened #30 "Add day's max and min temperature"

[2017-02-27 14:55] kasramp opened #31 "Add weather description for that day (e.g. 'showery')"

[2017-02-27 15:33] pywill commented on #17
@kasramp Ok! I´m not an official contributor to your project but i´m really feeling like one of you so if you think i could help you in something just tell me and i will do my best. Thank´s for let me be part of this family!!

[2017-03-01 12:13] hexion opened #32 "Hide location should only hide location in the task bar"
There are two places where one can see the location, the taskbar and the menu on click.
If the option to hide the location is enabled, this is hidden from both places, so the user cannot tell the location unless he goes to options again and disables this option.

In my opinion, the location should never be hidden from the menu, only from the taskbar.

[2017-03-02 18:11] pywill opened #34 "User can´t set the wind scale"
Lines 169-174 uses a scale for wind but there is not an space in the GUI for user to set the wind scale he wants.Can you write some code to improve configurability of the project?

[2017-03-02 20:12] pywill commented on #31
@kasramp Hi I have some good ideas for showing the day's description,when you have done with those classifications let me know it and i will start my work.

[2017-03-03 11:27] kasramp commented on #34
@pywill - yes we can. I labeled this as enhancement. This is where we can work on it. Either we can change it from the webservice (preferable) or do the unit conversion in the indicator (less preferable). We should try to keep the indicator logic as simple as possible.

[2017-03-03 11:28] kasramp commented on #32
Great catch @hexion. I will fix it, thanks

[2017-03-03 11:35] kasramp commented on #34
@pywill - if you are interested to change the webserivice code, have a look at Eris project:
https://github.com/kasramp/Eris
It's developed in Java :-)

[2017-03-03 14:10] pywill commented on #34
@kasramp jaja i wish to but i only know a bit of python, that is a task for an experienced one like you, however i think we could do the wind unit conversion in the indicator, it is not too difficult and we could do it by adding a combobox in preferences dialog so the user can select a scale, and then we just have to check it and ifn dependency of the selected scale perform a unit conversion or no

[2017-03-04 16:01] #32 closed

[2017-03-04 16:12] kasramp commented on #31
@pywill - great. I have replaced weather condition with weather description which is much more intuitive. Let me know your idea and how do you want to proceed with it. For that I keep the issue open.

[2017-03-04 16:14] kasramp opened #37 "When Visibility does not have any value, it shows none meter"

[2017-03-05 05:35] #34 closed

[2017-03-05 06:06] #30 closed

[2017-03-08 17:31] pywill commented on #31
@kasramp Hi if you like, you can close this issue , i will work in my idea and make a pull request so you can check it. It´s not too much , just a function that shows an ubuntu notification  every time get_weather is called and tells to users the descritpion of the day and shows its icon.

[2017-03-08 17:33] pywill commented on #31
@kasramp Also i have a question, how the program knows wath is the path to the icon in indicator-weather script?

[2017-03-10 16:02] kasramp commented on #31
@pywill - ok thanks. Just a side note, it is good to show notification if the weather condition/description has changed. Otherwise, I don't think so displaying weather description would be useful every 15 minutes (every 15 minutes, get_weather method is get called).
The icon path is under `/usr/share/icons/` but the icon is changed based on theme, that's why you do not need to give full path or re

[2017-03-11 03:48] #31 closed

[2017-03-19 07:56] kasramp opened #40 "Add notification on weather condition changes or location changes"

[2017-03-19 08:06] #40 closed

[2017-03-19 20:30] GGimenez96 opened #41 "Add "Update weather" and "Update interval" options"
It would be nice to have an option to force the update, and another one to set when the weather should be updated.

[2017-04-26 20:46] zecarneiro opened #42 "temperature not appear"
![simp](https://cloud.githubusercontent.com/assets/19640571/25456048/b566f638-2ac9-11e7-8de5-4707cbfbef6a.png)

[2017-04-28 09:57] #42 closed

[2017-04-28 16:06] Brett-Holmes opened #43 "Indicator Weather does not display temp nor any other data"
Whenever I open indicator-weather the temperature does not populate, nor does the information in the dropdown. I've installed all of the needed dependencies as well as restarting the machine, and installing and uninstalling. I cannot find a solution. Screenshots have been attached.
![indicator-weather](https://cloud.githubusercontent.com/assets/9272072/25537087/17619572-2c0b-11e7-82bd-943c2ee71164

[2017-04-28 17:11] Brett-Holmes commented on #43
The temperature now shows, but it's not updating regularly. The weather won't change until the indicator is quit and opened again.

[2017-04-28 23:56] kasramp commented on #43
@Brett-Holmes - since few days ago, have been facing some issues that cause the container to crash. That's why often the service is interrupted. I am looking into the problem to solve it.
The problem is from the in-house weather service not the indicator. Once it's resolved, the problem should go away.

[2017-05-11 08:04] krampstudio opened #44 "Unable to add a location"
Since a recent update, I'm not able to add a location, with the following message :

[code]

![add-location-error](http://pix.toile-libre.org/upload/original/1494489545.png)

 - _OS_ : Ubuntu 16.04.2 LTS
 - _package_ : indicator-weather 13.8.0
 - _repo_ : http://ppa.launchpad.net/noobslab/indicators/ubuntu

Thanks for the awesome software !

[2017-05-11 14:41] kasramp commented on #44
@krampstudio - the bug you are facing doesn't related to `Simple Weather Indicator`. It relates to `Weather Indicator` app which is maintained by different people in a different repository.  See here:
[https://launchpad.net/weather-indicator](https://launchpad.net/weather-indicator)
The name `indicator-weather` is just coincidental between this app (Simple Weather Indicator) and Weather Indicator.

[2017-05-11 14:41] #44 closed

[2017-05-13 03:02] kasramp commented on #43
@Brett-Holmes - I've fixed the problem, so I am closing the ticket. Let me know if you face any further problem.

[2017-05-13 03:02] #43 closed

[2017-06-19 11:29] swirlsky opened #45 "Indicator doesn't show any weather data when starting at system startup"
![indicator showing no weather information](https://user-images.githubusercontent.com/27681171/27282685-4684dcb0-54f1-11e7-9818-45bd43a18aa5.png)

The indicator works normally, however, if autostart is on, this is what I get after logging in to Ubuntu.

Possible reason: It seems that if the network connection is only established after the indicator loads, it cannot update, hence shows no weather d

[2017-06-21 11:51] kasramp commented on #45
Thanks @swirlsky - that's the known issue. I am planning to add retry mechanism as well as a manual update button for now so instead of waiting, the user will be able to click the button. It is not a perfect solution but until finding out how to resolve the problem, the workaround can alleviate some of the pain.

[2017-06-22 13:36] swirlsky commented on #45
@kasramp Thanks! A possible workaround I thought of was not to modify anything in the application's source code, just turn autostart off, and create an executable shell script file with the content

`#!/bin/sh`
`/bin/sh /usr/lib/ubuntu-indicator-weather/indicator-weather`

in the /etc/network/if-up.d directory.

I thought this way the indicator would start only as soon as a network connection is e

[2017-06-22 18:33] kpuljek commented on #45
For me it doesn't work even when I start it manually. Maybe it's because I'm not using network manager?

[2017-06-24 08:42] kasramp commented on #45
@kpuljek - the issue you are facing is because one of the backend API has failed few days ago and resulted the indicator to stop working. The issue has been fixed yesterday. Do let me know if you still cannot load the indicator.

[2017-06-24 08:44] kasramp commented on #45
@swirlsky - thanks for the solution. Let me do some studies on it and experiment with your solution and others to see which fit the best to this use case.

[2017-09-28 14:38] #45 closed

[2017-09-28 14:42] kasramp commented on #29
Resolved as a part of #45

[2017-09-28 14:42] #29 closed

[2017-10-06 15:47] kasramp commented on #41
The feature is added to the latest release version 1.0

[2017-10-06 15:47] #41 closed

[2017-10-08 19:07] J0Ar opened #46 "Weird 'Autostart' button on elementaryOS"
![bildschirmfoto von 2017-10-08 20 51 58](https://user-images.githubusercontent.com/23266409/31319947-92526d74-ac6c-11e7-9749-77fb307c6e29.png)

[2017-10-09 04:23] Andrewsudarikov opened #47 "Broken Indicator on Elementary OS"
![screenshot from 2017-10-09 07 20 58](https://user-images.githubusercontent.com/18544958/31325145-80ad3ee0-acc2-11e7-8a2f-c88038e1a9f4.png)
Icon on the indicator is broken. Restarting and re-installation don't help.

[2017-10-10 14:35] Brix57 opened #48 "Popups contain errors"
With the release of 1.0 this past weekend, the popups describing local weather are simply wrong. These popups are also extremely annoying and there is no way to turn them off.
Case in point: Today in my location (Graceville, FL) we have about 50% cloud cover yet the popups state that it is clear and sunny. Not sure if these popups are designed for those that never leave a windowless room but accur

[2017-10-11 03:50] swirlsky commented on #45
@kasramp Thanks for the upgrade, everything's working well now.

[2017-10-11 12:20] kasramp commented on #48
Hi @Brix57 - the accuracy of the reported weather is out of my control. It is what provided by http://openweathermap.org/ api. But for the pop up I can add an option to turn the pop up off so it will be less annoying.

[2017-10-11 12:20] kasramp commented on #47
I think the issue is coming from your theming. Can you provide your theme name so I can look it into it?

[2017-10-11 12:28] Brix57 commented on #48
That little option to turn off the notifications would be greatly
appreciated as I was going to remove the application because of that. It is
a great application.

On Wed, Oct 11, 2017 at 7:20 AM, Kasra_mp <notifications@github.com> wrote:

--
Thank You,
Ken

We the unwilling, led by the unknowing, are doing the impossible for the
ungrateful. We have done so much for so long with so little, we are

[2017-10-12 03:59] Andrewsudarikov commented on #47
@kasramp according to my system, this is standard Elementary OS theme that comes with the system. I did nothing to change the appearance of the GTK or the icon theme at all.
![screenshot from 2017-10-12 06 59 17](https://user-images.githubusercontent.com/18544958/31478698-e88d421c-af1a-11e7-9e6e-8f848b606ac5.png)

[2017-11-03 17:17] apnewberry opened #49 "Allow disabling notifications"
Thanks for this great tool!

Is it possible to add an option to disable desktop notifications?

[2017-11-10 14:38] Brett-Holmes opened #50 "17.10"
Do you mind making a release version for 17.10 Artful Aardvark?

[2017-11-17 11:35] kasramp commented on #50
I can do the release for 17.10 but there is no guarantee that it will play nice with Gnome as I have not tested it much.

[2017-11-17 11:36] kasramp commented on #50
After few bug fixes I will release a minor revision

[2017-12-06 17:49] tigran123 commented on #48
Yes, I second that as well --- I actually found this repository to open an issue about it, but I see there are others who did it already.

Btw, a great indicator --- just what I needed. Thank you! :)

[2017-12-06 17:54] tigran123 opened #51 "Show time in 24 hour format (or at least add an option to allow this)"
The subject says it all: the time of last update should be shown in 24 hour format, not with those weird "pm" and "am" things.

Actually, what would be nice is if you could detect if the user selected 24 hour format for the time display in the panel and use that. But if that is too hard, then please just add an option in Preferences to switch between the standard 24 hours and the strange non-milit

[2017-12-06 17:58] tigran123 opened #52 "The word "kilometre" is misspelled."
The proper English and International (as adopted by Bureau of Weights and Measures) spelling of the word "kilometre" is "kilometre" and not "kilometer" --- the latter is an Americanism and ought to be avoided. Here is the link to WikiPedia which explains this:

[https://en.wikipedia.org/wiki/Kilometre](https://en.wikipedia.org/wiki/Kilometre)

Actually, since the speed of wind is shown in "km/h" i

[2017-12-08 07:21] tigran123 opened #53 "Cursor position is lost when entering Longitude and Latitude in Preferences"
When entering the GPS coordinates for manual location one has to switch between Chrome running Google Maps application and indicator-weather's Preferences dialog. If both are visible simultaneously, then there is no problem, but if they happen to be on different workspaces, then one memorises the first 3-4 digits, then switches to Preferences and enters them. Then switches back to Google Maps and

[2017-12-09 14:20] kasramp commented on #53
@tigran123 - Thanks for reporting the issue. What distro and what version are you using?

[2017-12-09 14:21] tigran123 commented on #53
Oh, sorry, I should have said that it was on Ubuntu 16.04.3 LTS.

[2017-12-18 11:53] martinhajek opened #54 "Indicator stopped working after installing tlp on 17.10"
After having installed tlp (Linux Advanced Power Management), the weather indicator stopped working. When I try to launch it via terminal it gets stuck. After a while, when I hit Ctrl+C, it gives this:
^CTraceback (most recent call last):
  File "/usr/bin/indicator-weather", line 259, in <module>
    indicator.main()
  File "/usr/bin/indicator-weather", line 140, in main
    self.get_weather()
  F

[2017-12-18 21:42] #54 closed

[2017-12-19 01:20] kasramp commented on #54
Did you manage to resolve the issue?

[2017-12-19 16:53] tigran123 opened #55 "Please make refresh interval configurable via Preferences"
I assume that the indicator is contacting the weather services not more frequently than once an hour. If this actually happens more frequently, then I would certainly like to reduce it to once an hour.

So, ideally, there should be a "Refresh interval" added to Preferences to allow users to set this to their liking. Some people may prefer to have refresh more frequently, like once in half an hour.

[2017-12-23 04:04] kasramp commented on #55
Currently, API call interval is every 15 minutes. Unless the Openweather blocks the Eris service due to high usage as it is currently running on a free account.
I don't think the interval should be user configurable, if there is not a weather change the user wouldn't notice anything until the condition change and/or switching network.
Adding that option will possibly cause a big issue and that is

[2017-12-23 04:04] #55 closed

[2017-12-23 04:06] #50 closed

[2017-12-23 04:09] kasramp commented on #49
Duplicate with #48

[2017-12-23 04:09] #49 closed

[2017-12-23 07:35] tigran123 commented on #55
Ok, every 15 minutes is perfectly adequate. I thought it was much more frequent than that when I opened this issue :)

[2017-12-23 17:16] cipman commented on #51
+1  for 24h format.

[2018-01-12 12:32] mrcodedev opened #56 "Freezes when updating"
Hello,

I'm in version 16.04 of Ubuntu and a few days ago I realize that the indicator weather stays frozen, doesnt respond. When I give it to update it is when it stays frozen, it does not allow to do anything else.
I have done some tests, and since it doesnt geolocate me well I put my GPS location. Well, when I dont have the geolocation on, it works (but it does not say exactly where I am), but

[2018-01-15 11:58] kasramp commented on #56
@mrcodedev can you provide that coordinate you enter manually?
It might be a bug with the backend service or some corner case that is not handled.

[2018-01-15 21:18] mrcodedev commented on #56
Yeah, is this: Latitude 40,253551 and Longitude -3,820637.

[2018-01-16 21:52] CollinScripter opened #57 "Update Ubuntu PPA"
The current PPA doesn't have packages for Ubuntu 17.10 Artful Aardvark, and support for 17.04 Zesty Zapus ended on January 13th.

[2018-01-17 02:50] kasramp commented on #56
![pic](https://user-images.githubusercontent.com/4501120/35023086-1dad4da2-fb74-11e7-8dfb-069fc6e482e5.jpg)
^ @mrcodedev - is Calle del Pais Vasco correct location?

[2018-01-17 10:50] mrcodedev commented on #56
Yeah, i put this and show calle pais vasco. Then it isnt updated anymore because it stays frozen and you cant even enter preferences or you can close the application

[2018-01-18 02:33] kasramp commented on #56
@mrcodedev - Correct, the app freezes afterward. Let me dig in further.

[2018-01-18 13:37] mrcodedev commented on #56
Thank you kasramp!!!

[2018-01-25 10:33] mrcodedev commented on #56
Is there any news?

[2018-01-26 11:36] kasramp commented on #56
@mrcodedev - fixed the bug. But have not released it yet. To test it out, what you can do is:
`git clone git@github.com:kasramp/UbuntuIndicatorWeather.git`
Then `cd UbuntuIndicatorWeather`
Lastly `sudo ./install.sh`

[2018-01-26 11:39] #56 closed

[2018-01-26 11:49] #52 closed

[2018-01-26 11:52] kasramp commented on #57
@CollinScripter - I will be preparing a new release soon and include 17.10 support. But I won't be able to test it. Since 17.10 runs Gnome, it might not play nicely.
 #50

[2018-01-26 12:01] mrcodedev commented on #56
It works well!!!. Thank you very much for everything and for your great work.

[2018-01-26 15:37] kasramp commented on #46
@J0Ar - fixed the bug. But have not released it yet. To test it out, what you can do is:
`git clone git@github.com:kasramp/UbuntuIndicatorWeather.git`
Then `cd UbuntuIndicatorWeather`
Lastly `sudo ./install.sh`

[2018-01-26 15:38] #46 closed

[2018-02-07 04:27] CollinScripter commented on #57
@kasramp - Ah, I didn't see the other issue because it was closed and I assumed an issue like that would be open. I've been using this on GNOME on 17.10 for around 100 days and had no problems, except the notifications and that there was no way to disable them. #48 This got old enough that I implemented the feature myself, https://github.com/CollinScripter/UbuntuIndicatorWeather/commit/a310a42f988

[2018-02-08 12:04] kasramp commented on #57
Thanks, @CollinScripter for the annoying issue #48. I haven't fixed the issue yet. I have been quite busy recently and didn't have much time to work on this project.
I would be awesome if you can create a PR for this fix.

[2018-02-22 08:03] #48 closed

[2018-07-31 18:53] moorepants commented on #57
I'd also like to request support for 18.04 using Unity.

[2018-07-31 20:12] CollinScripter commented on #57
Afaik it should still work on Unity, although the PPA still needs to be
updated

[2018-08-11 17:25] moorepants commented on #57
Confirmed that is works on Ubuntu 18.04 running Unity! Thanks.

[2018-12-25 20:20] michaeljamesdunn opened #59 "Ubuntu Desktop 18.10"
I know Ubuntu Desktop 18.10 is not in the list of officially support versions. It does seem to work for me with two caveats: 1) the apt repository throws an error when running the update command, and 2) installing with the .deb package froze my machine requiring a hard reboot. After the reboot, it seems to work fine.

I don't know if this is expected in my Ubuntu version, but I thought I would not

[2018-12-31 09:38] kasramp commented on #59
Hi @mikedunn1. Thanks for reporting. I've not run it under Ubuntu 18.10. I will check it. What I can do at least is to update PPA/apt repository to support 18.10.

[2019-01-07 03:03] SteveEbey73742 opened #60 "How to install on Fedora Linux"

[2019-01-07 03:04] SteveEbey73742 commented on #60
How to compile or install on Fedora.

[2019-01-07 22:26] kasramp commented on #60
Hi @SteveEbey73742 - There is no repository available for Fedora. The only available option at the moment is to install it manually.
To do so, you need to make sure you have the following dependencies installed on your Linux:
[code]
Then after that, you can clone the repository and execute `sudo ./install.sh` script.
WARNING: I've not tested the app on Fedora. So I am not sure whether it will work

[2019-01-10 16:48] invexx opened #61 "Vertical panel"
When a vertical panel is used and Show temperature is selected, the temperature is not displayed. Only weather icon. It would be great if the temperature was displayed instead of a weather icon.

[2019-01-10 16:51] kasramp commented on #61
Hi @invexx. Can you provide more details about the environment that you are using? It would be great if you can provide a screenshot as well. Thanks

[2019-01-11 10:03] invexx commented on #61
Hi,

I'm using Mint 19.1 Cinnamon DE.

Screenshot:
[image: image.png]

On Thu, Jan 10, 2019 at 5:51 PM Kasra Madadipouya <notifications@github.com>
wrote:

[2019-01-16 10:04] invexx commented on #61
Here is the screenshot:
![selection_486](https://user-images.githubusercontent.com/26446962/51241583-6e61fd00-197e-11e9-99e1-f61301f42b83.png)

[2019-03-28 13:51] sergiuprt commented on #59
please update the ppa, it's not available on ubuntu 18.10

[2020-04-01 20:54] rauldipeas opened #62 "Please update to Python 3"
I'm trying to install the indicator weather on Ubuntu 20.04, but there's no Python 2.7 anymore on the repository.

Any chances to update it to work with Python 3?

[2020-05-01 16:12] thinkhuman opened #63 "Not yet ready for Ubuntu 19.10?"
Looks like this project's stale and hasn't been updated in a few years. I love this app, but doesn't seem to work with my version of Ubuntu:
`The repository 'http://ppa.launchpad.net/kasra-mp/ubuntu-indicator-weather/ubuntu eoan Release' does not have a Release file.`

[2020-07-27 09:53] zippy-zebu commented on #62
@kasramp Any news on this ?

[2020-07-27 19:27] kasramp commented on #62
@zippy-zebu - If I have time this weekend, I will have a look at it.

[2021-02-19 15:12] YousifAbozid opened #64 "The repository 'http://ppa.launchpad.net/kasra-mp/ubuntu-indicator-weather/ubuntu focal Release' does not have a Release file."
Hey everyone, I'm facing this problem while trying to install the repository by typing

`sudo add-apt-repository ppa:kasra-mp/ubuntu-indicator-weather`

I'm using Ubuntu 20.4 and getting this error

`E: The repository 'http://ppa.launchpad.net/kasra-mp/ubuntu-indicator-weather/ubuntu focal Release' does not have a Release file.
N: Updating from such a repository can't be done securely, and is ther